# .env is in .gitignore and will not be committed

# Local Supabase credentials (Remember to use your local IP, not localhost)
LOCAL_SUPABASE_URL=
LOCAL_SUPABASE_ANON_KEY=

# Cloud (Production) Supabase credentials
PROD_SUPABASE_URL=https://uzojyrjxuhigisfvwxni.supabase.co
PROD_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6b2p5cmp4dWhpZ2lzZnZ3eG5pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk1MjUyMTYsImV4cCI6MjA3NTEwMTIxNn0.vRbrEM5IccOdGUYX8MidpyPbnZs8gW5AZ0iFh44hxS4